<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.onlinemarkettc.persistence.DiscountedItemRepository">

    <select id="findById" parameterType="Long" resultMap="DiscountedItemResultMap">
        SELECT *
        FROM discounted_items
        WHERE id = #{id}
    </select>

    <select id="findByName" parameterType="String" resultMap="DiscountedItemResultMap">
        SELECT *
        FROM discounted_items
        WHERE name = #{name}
    </select>

    <select id="findAll" resultMap="DiscountedItemResultMap">
        SELECT *
        FROM discounted_items
    </select>

    <insert id="save" parameterType="com.solvd.onlinemarkettc.domain.item.DiscountedItem"
            useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO discounted_items (name, cost, description)
        VALUES (#{name}, #{cost}, #{description})
    </insert>

    <delete id="deleteById" parameterType="Long">
        DELETE FROM discounted_items
        WHERE id = #{id}
    </delete>

    <update id="update" parameterType="com.solvd.onlinemarkettc.domain.item.DiscountedItem">
        UPDATE discounted_items
        SET name = #{name},
        cost = #{cost},
        description = #{description}
        WHERE id = #{id}
    </update>

    <resultMap id="DiscountedItemResultMap" type="com.solvd.onlinemarkettc.domain.item.DiscountedItem"
               autoMapping="false">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="cost" column="cost"/>
        <result property="description" column="description"/>
    </resultMap>

</mapper>